@font-face {
  font-family: "KoHo";
  src: url("./fonts/KoHo/KoHo-Bold.ttf") format("tff");
  font-weight: 700;
}

@font-face {
  font-family: "KoHo";
  src: url("./fonts/KoHo/KoHo-Regular.ttf") format("woff2");
  font-weight: 400;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

p {
  color: #000;
  text-align: center;
  font-family: "KoHo", sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.team-members {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.gallery {
  background-color: black;
}

.gallery-header {
  color: white;
}

.header {
  background-color: black;
}

.header, .info, .approach {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#leads {
  width: 50%;
  height: 100%;
}

.intro h1 {
  color: white;
  text-align: center;
  font-family: "KoHo", sans-serif;
  font-size: 90px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 10px;
}

.intro h2 {
  color: white;
  text-align: center;
  font-family: "KoHo", sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 10px;
}

.infopic {
  width: 461px;
  flex-shrink: 0;
}

.text {
  width: 65vw;
}

.text h2 {
  color: #000;
  text-align: center;
  font-family: "KoHo", sans-serif;
  font-size: 70px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 10px;
}

.text p {
  color: #000;
  text-align: center;
  font-family: KoHo;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 10px;
} 

.teamPhotos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0%;
  grid-gap: 5px;
  width: 33vw
}

.teamPhotos img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#photo6 {
  grid-column: 1 / span 2;
}

#photo8 {
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
}

#photo7 {
  grid-column: 2 / span 2;
  grid-row: 4 / span 2;
}

.approach p {
  font-size: 25px
}

.donateContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

#left, #middle, #right {
  width: 30vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.connectPic {
  width: 35%;
  margin: auto;
  margin-bottom: 20px;
  margin-top: 20px
}

.donatePic {
  width: 100%;
}


.donateContainer p {
  color: #000;
  text-align: center;
  font-family: KoHo;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 10px;
}

.donateContainer h3 {
  color: #000;
  text-align: center;
  font-family: KoHo;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: -10px;
}

.intro {
  align-self: center;
  margin: auto;
}

.donateButton:hover {
  background-color: red;
  color: red;
}

.card h5 {
  color: #000;
  text-align: center;
  font-family: "KoHo", sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 10px;
}

.cardText {
  color: #000;
  text-align: center;
  font-family: "KoHo", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 10px;
}

#knee {
  width: 20vw;
  margin: auto;
}

.inline-block {
  display: block; /* Make it a block-level element */
}
